.botones{
    display: flex;
    flex-direction: column;
    color: black;

}

.boton1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
}

.boton2 {
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
}

.contador h2 {
    font-size: 20px;
    color: black;
}

.contador h3 {
    font-size: 15px;
    color: black;
}