.botones{
    display: flex;
    column-gap: 50px;
    align-items: center;
    color: black;
    width: 210px;

}

.botones h1{
    color-interpolation-filters: ;
}

.boton1 {
    display: flex;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
}

.boton2 {
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
}
