.botones{
    display: flex;
    column-gap: 50px;
    align-items: center;
    color: black;
    width: 210px;

}


.boton1 {
    display: flex;
    background-color:grey;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
}

.boton2 {
    background-color:grey;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
}
