.botones{
    display: flex;
    column-gap: 50px;
    align-items: center;
    color: black;
    width: 210px;

}


.boton1 {
    display: flex;
    background-color:#537895;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
}

.boton1:hover{
    background-color: grey;
}

.boton2 {
    display: flex;
    background-color:#537895;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
}

.boton2:hover{
    background-color: grey;
}

h2#swal2-title {
    font-size: 25px;
}

button.swal2-confirm.swal2-styled {
    background-color: #537895;
}
